*{
    padding: 0%;
    margin: 0%;
    font-family: sans-serif;
}

.nav{
    background-color: black;
    color: white;
    width: auto;
    height: 50px;
}

.nav-h1{
    padding: 3px;
}

.title{
    text-align: center;
}

.page{
    display: flex;
}

.user img {
    width: 150px;
    height: 125px;
    padding-top: 25px;
    border-radius: 100%;
}

.user{
    border: 1px solid black;
    width: 200px;
    height: 400px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

}

.contents{
    width: 500px;
    height: 150px;
    display: flex;
    border: 1px solid black;
    margin-top: 15px;
    background-color: whitesmoke;
}

.number, .like-butt{
    justify-content: space-between;
}

.desc{
    display: block;
}

.info {
    justify-content: space-between;
    align-items: center;
}

.like-card{
    display: flex;
}

.superdiv{
    display: flex;
    column-gap: 10px;
    justify-content: center;
}